@model IEnumerable<CRMAUTO.Models.voiture>

@{
    ViewBag.Title = "Voiture est : ";
}

<form action="#" method="get" class="">
    <div class="input-">
        Modele :    <input type="text" name="b" class="" placeholder="modele...">
        Carburant :
        <select class="" id="Cat" gorie" name="d">
            <option value="">Selectionner type de carburant </option>
            <option value="Essence">Essence </option>
            <option value="Diesel">Diesel</option>
            <option value="Hyberid">Hyberid</option>
            <option value="Electrique">Electrique</option>

        </select>
        Categorie :
        <select class="" id="Cat" gorie" name="a">
            <option value="">Selectionner une Catégorie </option>
            <option value="Cabriolet ">Cabriolet  </option>
            <option value="Citadine">Citadine</option>
            <option value="Economique">Economique</option>
            <option value="SUV ">SUV </option>

        </select>
        <span class="">
            <button type="submit" id="button2" value="Rechercher" formaction='@Url.Action("Searchvoiture", "voitures")'>Rechercher</button>


        </span>
    </div>
</form>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomvoiture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomdemodele)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomcategorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kilometrage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carburant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.puissance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datecontrat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomvoiture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomdemodele)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomcategorie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kilometrage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.annee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carburant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.puissance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datecontrat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.matricule }) |
            @Html.ActionLink("Details", "Details", new { id=item.matricule })  
        </td>
    </tr>
}

</table>
