@model CRMAUTO.Models.Modelevoiture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Modelevoiture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_modele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_modele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_categorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puissance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idmodele }) |
    @Html.ActionLink("Back to List", "Index")
</p>
