@model IEnumerable<CRMAUTO.Models.Modelevoiture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom_modele)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom_categorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.puissance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_modele)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_categorie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.puissance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idmodele }) |
            @Html.ActionLink("Details", "Details", new { id=item.idmodele }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idmodele })
        </td>
    </tr>
}

</table>
