@model IEnumerable<CRMAUTO.Models.Facture>

@{
    ViewBag.Title = "Votre facture";
}

 
<form action="#" method="get" class="">
    <div class="input-">
        CIN :    <input type="text" name="idclient" class="" placeholder="CIN..."> Id facture : <input type="text" name="idf" class="" placeholder="Idf..."> 


        <span class="">
            <button type="submit" id="button2" value="Rechercher" formaction='@Url.Action("searchfacture", "factures")'>Rechercher</button>


        </span>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Montant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modele)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categorie)
        </th>
        <th>
            Date de factures
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Montant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modele)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categorie)
        </td>
        <td>
            @DateTime.Now.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("Imprimer", "reporting", new { id = item.idfacture }) |
            @Html.ActionLink("Details", "Details", new { id = item.idfacture }) 
        </td>
    </tr>
}

</table>
